body{
  background-color:rgb(255, 255, 255);
  padding:5px;
  margin:0px;
}
.child{
  height:50px;
  width:50px;
}
.white{
    background-color:rgb(211, 208, 178);
}
.black{
    background-color:rgb(166, 144, 105);
}
.parent{
  display:grid;
  width: 400px;
  height: 400px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px; 
}
